<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/cover') %>
  <div class="l_body<%- page.cover ? '' : ' nocover' %>">
    <!-- <%- partial('_partial/side') %> -->
    <div class='body-wrapper' id="pjax-container">
      <%- body %>
      <script>setLoadingBarProgress(60);</script>
    </div>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>

  <!-- 彩带点击 -->
  <!-- <script type="text/javascript" src="\js\ribbon.min.js"></script> -->
  <!-- 雪花特效 -->
  <!-- <script type="text/javascript" src="\js\snow.js"></script> -->


  <!-- 线条特效 -->
  <!-- <script type="text/javascript"
  color="0,0,0" opacity='1' zIndex="-2" count="200" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js">
  </script> -->

  <%- partial('_partial/scripts') %>
  <script>setLoadingBarProgress(100);</script>

</body>
</html>
